{% extends 'core/base.html' %}

{% block title %}Terms of use{% endblock %}

{% block content %}

 <br><br>

   <p>Want to list your profile on MalutiMingle contact us to use the plartform
            Please contact us here (+266) 68777307 or 63627572</p>
        <br>

        <ul>
            <li style="font-weight: bold;">- Strictly users above the age 21 can use the site</li>
            <li>- We have a team of photographers that can come to you or come to our studio to have more appealing images on your listing.</li>
            <li>- Only data entered by the user will be shown.</li>
            <li>- First photo shoot is free.</li>
            <li>- ID maybe required to validate that you meet the age standard before your profile is listed.</li>
        </ul>

        <br>

<!-- <form action="https://www.payfast.co.za/eng/process" method="post">
   <input type="hidden" name="merchant_id" value="10000100">
   <input type="hidden" name="merchant_key" value="46f0cd694581a">
   <input type="hidden" name="amount" value="100.00">
   <input type="hidden" name="item_name" value="Test Product">
   <input class="mt-6 py-4 px-8 text-lg bg-red-100 hover:bg-red-300 rounded-xl text-red" type="submit">
</form> -->


{% endblock %}