{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<style>
    /* Custom CSS for desktop view */
    @media (min-width: 768px) {
        .md\:col-span-3 img {
            max-width: 25%;
            /* Adjust the max width as needed to maintain consistency */
        }

        .row .col-md-4 img {
            max-width: 25%;
            /* Adjust the max width as needed to maintain consistency */
        }
    }

    a.group {
        text-decoration: none;
        /* Remove underlines for the link */
    }

    a.group:hover {
        text-decoration: none;
        /* Remove underlines for the link on hover */
        color: grey;
    }
    
    .button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b7c3cf; /* Change this to your desired button color */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: #0056b3; /* Change this to the hover color you prefer */
    text-decoration: none;
}

    /* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/


:root {
    
    font-size: 15px;
    
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    
    /* Fonts */
    
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/* 
=======================
Setup
=======================
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: var(--var-main-darkest);
}

img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

a {
    color: inherit;
}

/* 

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/

h1 {
    font: var(--var-heading);
    color: var(--var-lightest);
    /* padding: 1.2em 0; */
}

h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
    /* padding on .coin-base */
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

span {
    color: white;
}
/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
    width: 100%;
    max-width: 400px;
    margin: 2em auto;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.coin-base, .time-left, .card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.card-attribute {
    padding-bottom: 1.5em;
    border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
    position: relative;
    display: block;
}



/* Details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
  img.eye {
    max-width: 3em;
}
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}

.small-image {
    width: 1.2em;
    margin-right: .5em;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

div.attribution {
    margin: 0 auto;
    width: 100%;
    font: var(--var-para);
    text-align: center;
    padding: 1.5em 0 4em 0;
    color: var(--var-line-dark);
}
.attribution a {
    color: var(--var-soft-blue);
}

@media (min-width:600px) {
    body {
        font-size: 18px;
    }
}

</style>

<div class="grid grid-cols-1 md:grid-cols-5 gap-6">
    <div class="md:col-span-3 flex justify-center items-center"> <!-- Center horizontally and vertically -->
        <img src="{{ item.image.url }}" class="rounded-xl w-full">
    </div>

    <div class="md:col-span-2 p-6 bg-gray-100 rounded-xl mt-6 md:mt-0 flex flex-col justify-center card-container">
        <!-- Center vertically -->
        <h1>{{ item.name }}</h1>
        <div class="button-style">
            <p class="text-gray-500"><strong></strong><a href="tel:{{ item.phone }}">Call Me Here</a></p>
        </div>

        <!-- <div class="button-style">
            <p class="text-gray-500"><strong>Phone number: </strong><a href="tel:{{ item.phone }}">{{ item.phone }}</a></p>
        </div> -->
        

        <!--        <p class="text-gray-500"><strong>Seller: </strong>{{ item.created_by.username }}</p>-->
        <p class="text-gray-500"><strong>Area: </strong>{{ item.area }}</p>

        {% if item.description %}
        <div class="text-gray-700">
            <strong class="text-gray-500">Description:</strong><br>
            <p>{{ item.description }}</p>
        </div>
        {% endif %}

        {% if request.user == item.created_by %}
        <div class="mt-6 p-6 bg-white rounded-xl">
            <p>This is your display profile!</p>
            <br>
            <a href="{% url 'item:edit' item.id %}"
                class=" mt-6 px-6 py-3 text-lg font-semibold bg-teal-400  hover:bg-teal-200 text-white rounded-xl">Edit</a>
            <!-- <a href="{% url 'dashboard:dashboardv2' %}" style="margin-top: 5px;"
                class="mt-6 py-3 px-6 text-lg bg-indigo-100 hover:bg-teal-200 rounded-xl text-red">Upload</a><br><br><br> -->

            <!-- <a href="{% url 'item:delete' item.id %}"class="mt-6 py-3 px-6 text-lg bg-red-100 hover:bg-red-300 rounded-xl text-red">Delete</a> -->

            <a href="#" class="mt-6 py-3 px-6 text-lg bg-red-100 hover:bg-red-300 rounded-xl text-red"
                onclick="confirmDelete({{ item.id }})">Delete</a>

            <script>
                function confirmDelete(itemId) {
                    if (confirm("Are you sure you want to delete this item?")) {
                        // If the user confirms, you can proceed with the deletion.
                        window.location.href = "{% url 'item:delete' item.id %}";
                    } else {
                        // If the user cancels, do nothing.
                    }
                }
            </script>

            <br>

        </div>

        {% if item.is_sold == True %}
        <p>For your listing to appear please read our terms of use.</p>
        {% else %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Please check the box if you are available</p>
            <p>You will be marked unavailable once every 3 days</p>
            <button type="submit"
                class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">Save
                changes</button>
        </form>

        <p>If your listing does not appear please contact us on our contact page.</p>
        <script>
            // JavaScript to reload the page after form submission
            document.getElementById('verificationForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Reload the page
                window.location.reload();
            });
        </script>
        {% endif %}
        {% else %}
        <!-- <a href="{% url 'conversation:new' item.id %}" class="group block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Photos and Videos</a> -->
        {% endif %}

        <!-- <a href="{% url 'dashboard:myprofile' item.created_by_id %}" class="btn btn-danger">View media</a> -->
        <!-- <a href="{% url 'dashboard:myprofile' %}" class="btn btn-primary">Go to My Uploads</a> -->

    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl card-container">
    <h2 class="mb-12 text-2xl text-center">You might also like</h2>
    <div class="md:flex md:flex-wrap"> <!-- Use flex-wrap to allow items to wrap to the next row on smaller screens -->
        {% for item in related_items %}
        <a href="{% url 'item:detail' item.id %}" class="w-full md:w-1/3 px-2">
            <!-- Adjust the width for different screen sizes -->
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-4">
                <div class="md:flex">
                    <div class="md:flex-shrink-0">
                        <img class="h-48 w-full object-cover md:w-48" src="{{ item.image.url }}" alt="{{ item.name }}">
                    </div>
                    <div class="p-8">
                        <a href="{% url 'item:detail' item.id %}"
                            class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ item.name}}</a>
                        <p class="mt-2 text-gray-500">{{ item.description }}</p>
                        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ item.category }}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>



<!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48" src="your-image-url.jpg" alt="Image Description">
            </div>
            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Category</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Item Name</a>
                <p class="mt-2 text-gray-500">Item Description goes here. You can provide additional information or details about the item in this section.</p>
            </div>
        </div>
    </div> -->

</div>


<!-- Add this script tag at the end of your HTML body -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
{% endblock %}