{% extends 'core/base.html' %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

{% block title %}Items{% endblock %}

{% block content %}
<style>
            /* Custom styles for dark mode */


#items{
    background-color: #1a202c;
    color: #ff0000; /* Red font color */
}

/* Styles for navigation menu links */
#filter {
   padding: 5%;

    background-color: var(--var-card-dark);
}

/* Styles for footer links */
.categories {
    color: black;
}


/* Additional styles for specific elements can be added as needed */
/* For desktop */
@media (min-width: 768px) {
    .spacing {
        margin-left: 5px; /* Adjust as needed */
    }
}

/* For mobile */
a.group {
    text-decoration: none; /* Remove underlines for the link */
}

a.group:hover {
    text-decoration: none; /* Remove underlines for the link on hover */
    color: grey;
}

/* Style for the image box */
.image-box {
    width: 500px; /* Set the width you want */
    height: 500px; /* Set the height you want */
    border: 1px solid #ccc;
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the image inside the box */
.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Scale the image to cover the entire box */
}

.item-container {
        height: 125px; /* Set your desired fixed height */
        overflow: hidden;
    }
.truncate-text {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Adjust the number of lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        }

    /* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/


:root {
    
    font-size: 15px;
    
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    
    /* Fonts */
    
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/* 
=======================
Setup
=======================
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: var(--var-main-darkest);
}

img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

a {
    color: inherit;
}

/* 

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/

h1 {
    font: var(--var-heading);
    color: var(--var-lightest);
    padding: 1.2em 0;
}

h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
    /* padding on .coin-base */
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

span {
    color: white;
}
/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
    width: 100%;
    max-width: 400px;
    margin: 2em auto;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    .card-container {
        max-width: 90%; /* Adjust this value as needed */
    }
}

@media (max-width: 480px) {
    .card-container {
        max-width: 100%; /* Take the full width on smaller screens */
    }
}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.coin-base, .time-left, .card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.card-attribute {
    padding-bottom: 1.5em;
    border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
    position: relative;
    display: block;
}



/* Details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
  img.eye {
    max-width: 3em;
}
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}

.small-image {
    width: 1.2em;
    margin-right: .5em;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

div.attribution {
    margin: 0 auto;
    width: 100%;
    font: var(--var-para);
    text-align: center;
    padding: 1.5em 0 4em 0;
    color: var(--var-line-dark);
}
.attribution a {
    color: var(--var-soft-blue);
}

@media (min-width:600px) {
    body {
        font-size: 18px;
    }
}


</style>

    <div>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-1 ">

            <!-- Filters Section (Left Column) -->
            <div class="w-full rounded-t-lg rounded-b-lg md:col-span-1" id="filter" >
                <form method="get" action="{% url 'item:items' %}" class="mb-6">
                    <input name="query" class="w-full py-2 px-4 border rounded-lg" type="text" value="{{ query }}" placeholder="Search by name, area or city">

                    <button class="mt-2 py-2 px-6 text-sm bg-teal-500 text-white rounded-lg">Search</button>
                </form>



                <!-- Categories -->
                <div class="categories">
                <p class="font-semibold" >Categories</p>
                <ul class="mb-6">
                    {% for category in categories %}
                        <li class="py-1 px-1 rounded-lg{% if category.id == category_id %} bg-gray-200{% endif %}">
                            <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}" class="group block" style="color: var(--var-cyan);">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Clear Filters -->
                <p class="font-semibold" >Clear filters</p>
                <ul>
                    <li><a href="{% url 'item:items' %}" class="mt-2 py-2 px-6 inline-block bg-yellow-500 text-sm rounded-lg text-white group block">Clear</a></li>
                </ul>
                    </div>

            </div>


            <!-- Items Section (Right Column) -->

            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% for item in items %}
            <div class="card-container">
              <a href="{% url 'item:detail' item.id %}" class="hero-image-container">
                <img
                  class="hero-image"
                  src="{{ item.image.url }}"
                  alt="{{ item.name }}"
                />
              </a>
              <main class="main-content">
                <h1><a href="#">{{ item.name }}</a></h1>
                <p class="card-attribute">{{ item.description }}</p>
        
                <div class="flex-row">
                  <div class="time-left">
                    <!-- <img src="{{ item.image.url }}" alt="{{ item.name }}" class="small-image"/> -->
                    <img
                      src="https://i.postimg.cc/vDFXwd8h/home-1946436.png"
                      alt=""
                      class="small-image"
                    />
                    <p>{{ item.area }}</p>
                  </div>
                  <div class="time-left">
                    <img
                      src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png"
                      alt="clock"
                      class="small-image"
                    />
                    <p>3 days left</p>
                  </div>
                </div>
                {% if item.is_verified %}
                <p>
                  <span style="color: green; font-size: 18px; margin-left: 4px"
                    >&#9679;</span
                  >Active
                </p>
                {% endif %}
              </main>
              <!-- <div class="card-attribute">
                    <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar"/>
                    <p>Creation of <span><a href="#">Jules Wyvern</a></span></p>
                </div> -->
            </div>
            {% endfor %}
          </div>
        </div>
    </div>

{% endblock %}
